body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#selectBox{
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px;
}
#selectBox > select{
    padding: 10px;
    width: 200px;
}
#container{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 20px;
    /* border: 1px solid red; */
}
.divImage{
    width: 100%;
    border-radius: 5px;
}
.name{
    text-align: center;
}
.containerDiv{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 5px;
    transition: transform .5s;
}
.containerDiv:hover{
    transform: scale(1.1);
}